@font-face {
    font-family: 'PT_SansBold';
    src: url(./PT_Sans-Web-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PT_SansRegular';
    src: url(./PT_Sans-Web-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat_SemiBold';
    src: url(./Montserrat-SemiBold.ttf) format('truetype');
}